html {
    font-family: Courier New, Monospace, Arial;
    background-color: #000000;
    color: white;
    cursor: url('images/arrow0.png'), auto;
    padding-left: 25%;
    padding-right: 25%;
}
a {
    cursor: url('images/hand0.png'), auto;
    color: aqua;
}
html.paspadding {
    padding: 4px;
}
li {
    padding-bottom: 4px;
}